*{
    margin: 0;
}

body{
    margin: 0;
    font-family: "bahnschrift", sans-serif;
}
/* From Uiverse.io by catraco */ 
.container {
    width: 100%;
    height: 100vh;
    background-image: repeating-linear-gradient(
      -45deg,
      orange 0,
      transparent 30px,
      orangered 30px,
      transparent 60px,
      orange 120px,
      transparent 240px
    );
    background-color: orange;
    display: none;
  }
  
header{
    background-image: url("imgs\prodects_img\download.png");
    width: 100%;
    margin: 0;
    height: 70px;
    background: rgba(255, 255, 255, 0.582);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(5px);
    position: fixed;
    z-index: 1000;
}
.imghed {
    margin: 0;
    max-width: 100%;
    width: 100%;
    height: 70px;
    position: fixed;
}
.searchbar{
    height: 100px;
    margin-top: 30px;
    position: relative;
    top: 80px;
    background-color: rgb(212, 212, 212);
    display: inline-flex;
    width: 100%;
}
.searchbar h1 {
    margin-top: 30px;
}
.searchbar li {
    display: inline-flex;
    margin: 4px;
}
.searchbar li a {
    background-color: rgb(184, 184, 184);
    padding: 10px;
    border-radius: 10px;
    margin-top: 30px;
    color:brown;
    text-decoration-line: none;
    margin-right: 30px;
}
.searchbar input{
    margin-top: 34px;
    padding: 10px;
    background-color: rgba(218, 218, 218, 0.404);
    border: none;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.582);
    cursor: pointer;
}
.searchbar .tags{
    position: relative;
    left: 300px;
    top: -70px;
}
.searchbar .tags a{
    color: rgb(73, 73, 73);
    text-decoration-line: none;
}
.searchbar .tags a:hover{
    color: brown;
    box-shadow: 0 2px 2px rgb(0, 0, 0);
}
.searchbar .tags a:focus{
    color: brown;
    box-shadow: 0 -1px 2px rgb(0, 0, 0);
}
.searchbar input:focus{
    border: none;
}
.headcontener{
    margin: 0;
    width: 100%;
    position: relative;
}

.headcontener .logo {
    position: relative;
    font-weight: 900;
    top: 25px;
    left: 10px;
}
.headcontener .logo a{
    color: black;
    text-decoration-line: none;
}
.headcontener .logo a:hover{
    color:brown;

}
.headcontener ul{
    background: rgba(255,255, 255, 0.5);
    box-shadow: 0 4px 2px rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(50px);
    position: fixed;
    text-align: left;
    border-radius: 0px 0px 10px 10px;
    left: 70%;
    top: 10px;
    height: auto;
    overflow: hidden;
}
.headcontener ul li{
    display: inline-flex;
}
.headcontener ul li a{
    color: black;
    font-weight: 800;
    font-size: 30px;
    padding: 5px 20px;
    text-decoration-line: none;
}
.headcontener ul li a:hover{
    box-shadow: 0 4px 2px rgb(0, 0, 0);
    color: brown;
}
.headcontener ul li a:focus{
    box-shadow: 0 -1px 2px rgb(0, 0, 0);
}
.menubtn{
    display: none;
    box-shadow: 0 4px 2px rgb(0, 0, 0);
    padding: 10px;
    border-radius: 10px;
}
.menubtn a{
  color: #000;
  font-size: medium;
  font-weight: 700;
}
.headerbg{
    margin: 0;
    width: 100%;
    height: 100px;
    background: rgb(163, 110, 110);
}
.cards{
display: inline-flex; 
position: relative;       
top: 80px;
}
#users {
    position: relative;
    margin-top: 100px;
    background-color: rgb(212, 212, 212);
    padding: 30px 0px;
}
#users ul li{
    display: inline-flex;
    margin: 10px;
}
#users ul li a{
    background-color: rgb(184, 184, 184);
    text-decoration-line: none;
    font-weight: 800;
    color: rgb(73, 73, 73);
    padding: 10px;
    border-radius: 10px;
}
#users ul li a:hover{
        color: brown;
        box-shadow: 0 4px 2px rgb(0, 0, 0);
}
#users ul li a:focus{
        color: brown;
        box-shadow: 0 -1px 2px rgb(0, 0, 0);
    }
.userscards{
    margin-top: 40px;
    position: relative;
}
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin: auto;
  }

.card {
    --font-color: #323232;
    --font-color-sub: #666;
    --bg-color: #fff;
    --main-color: #323232;
    --main-focus: #2d8cf0;
    margin: 10px;
    width: 230px;
    height: 300px;
    background: var(--bg-color);
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    gap: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .card:last-child {
    justify-content: flex-end;
  }
  
  .card-img {
      /* clear and add new css */
    transition: all 0.5s;
    display: flex;
    justify-content: center;
  }
  
  .card-img .img {
   /* delete */
    transform: scale(1);
    position: relative;
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    border-top-left-radius: 80px 50px;
    border-top-right-radius: 80px 50px;
    border: 2px solid black;
    background-color: #228b22;
    background-image: linear-gradient(to top,transparent 10px,rgba(0,0,0,0.3) 10px,rgba(0,0,0,0.3) 13px,transparent 13px);
  }
  
  .card-img .img::before {
   /* delete */
    content: '';
    position: absolute;
    width: 65px;
    height: 110px;
    margin-left: -32.5px;
    left: 50%;
    bottom: -4px;
    background-repeat: no-repeat;
    background-image: radial-gradient(ellipse at center,rgba(0,0,0,0.7) 30%,transparent 30%),linear-gradient(to top,transparent 17px,rgba(0,0,0,0.3) 17px,rgba(0,0,0,0.3) 20px,transparent 20px),linear-gradient(to right,black 2px,transparent 2px),linear-gradient(to left,black 2px,transparent 2px),linear-gradient(to top,black 2px,#228b22 2px);
    background-size: 60% 10%,100% 100%,100% 65%,100% 65%,100% 50%;
    background-position: center 3px,center bottom,center bottom,center bottom,center bottom;
    border-radius: 0 0 4px 4px;
    z-index: 2;
  }
  
  .card-img .img::after {
   /* delete */
    content: '';
    position: absolute;
    box-sizing: border-box;
    width: 28px;
    height: 28px;
    margin-left: -14px;
    left: 50%;
    top: -13px;
    background-repeat: no-repeat;
    background-image: linear-gradient(80deg,#ffc0cb 45%,transparent 45%),linear-gradient(-175deg,#ffc0cb 45%,transparent 45%),linear-gradient(80deg,rgba(0,0,0,0.2) 51%,rgba(0,0,0,0) 51%),linear-gradient(-175deg,rgba(0,0,0,0.2) 51%,rgba(0,0,0,0) 51%),radial-gradient(circle at center,#ffa6b6 45%,rgba(0,0,0,0.2) 45%,rgba(0,0,0,0.2) 52%,rgba(0,0,0,0) 52%),linear-gradient(45deg,rgba(0,0,0,0) 48%,rgba(0,0,0,0.2) 48%,rgba(0,0,0,0.2) 52%,rgba(0,0,0,0) 52%),linear-gradient(65deg,rgba(0,0,0,0) 48%,rgba(0,0,0,0.2) 48%,rgba(0,0,0,0.2) 52%,rgba(0,0,0,0) 52%),linear-gradient(22deg,rgba(0,0,0,0) 48%,rgba(0,0,0,0.2) 48%,rgba(0,0,0,0.2) 54%,rgba(0,0,0,0) 54%);
    background-size: 100% 100%,100% 100%,100% 100%,100% 100%,100% 100%,100% 75%,100% 95%,100% 60%;
    background-position: center center;
    border-top-left-radius: 120px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 70px;
    border-top: 2px solid black;
    border-left: 2px solid black;
    transform: rotate(45deg);
    z-index: 1;
  }
  
  .card-title {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    color: var(--font-color);
  }
  
  .card-subtitle {
    font-size: 14px;
    font-weight: 400;
    color: var(--font-color-sub);
  }
  
  .card-divider {
    width: 100%;
    border: 1px solid var(--main-color);
    border-radius: 50px;
  }
  
  .card-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .card-price {
    font-size: 20px;
    font-weight: 500;
    color: var(--font-color);
  }
  
  .card-price span {
    font-size: 20px;
    font-weight: 500;
    color: var(--font-color-sub);
  }
  
  .card-btn {
    height: 35px;
    background: var(--bg-color);
    border: 2px solid var(--main-color);
    border-radius: 5px;
    padding: 0 15px;
    transition: all 0.3s;
  }
  
  .card-btn svg {
    width: 100%;
    height: 100%;
    fill: var(--main-color);
    transition: all 0.3s;
  }
  
  .card-img:hover {
    transform: translateY(-3px);
  }
  
  .card-btn:hover {
    border: 2px solid var(--main-focus);
  }
  
  .card-btn:hover svg {
    fill: var(--main-focus);
  }
  
  .card-btn:active {
    transform: translateY(3px);
  }
  

footer {
    margin-top: 50px;
    background-color: rgba(255, 255, 255, 0.582);
    padding: 20px;
    box-shadow: 0 -1px 8px rgba(0, 0, 0, 0.863);
    text-align: center;

}
.addprodect{
    background-color: rgba(255,255, 255, 0.5);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(5px);
    border-radius: 25px;
    position: fixed;
    width: 300;
    height: 500px;
    top: 130px;
    left: 35%;
    overflow: scroll;
    text-align: center;
    display: none;
}
/* From Uiverse.io by reglobby */ 
.addprodect .input {
    border: 2px solid transparent;
    width: 300px;
    height: 2.5em;
    margin-top: 30px;
    margin-left: 15px;
    padding-left: 0.8em;
    outline: none;
    overflow: hidden;
    background-color: #F3F3F3;
    border-radius: 10px;
    transition: all 0.5s;
    display: table;
  }
  
  .addprodect .input:hover,
  .addprodect .input:focus {
    border: 2px solid #4A9DEC;
    box-shadow: 0px 0px 0px 7px rgb(74, 157, 236, 20%);
    background-color: white;
  }
  


/* From Uiverse.io by Yaya12085 */ 
.custum-file-upload {
    height: 100px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    gap: 20px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border: 2px dashed #cacaca;
    background-color: rgba(255, 255, 255, 1);
    padding: 1.5rem;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0px 48px 35px -48px rgba(0,0,0,0.1);
  }
  
  .custum-file-upload .icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .custum-file-upload .icon svg {
    height: 80px;
    fill: rgba(75, 85, 99, 1);
  }
  
  .custum-file-upload .text {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .custum-file-upload .text span {
    font-weight: 200;
    color: rgba(75, 85, 99, 1);
  }
  
  .custum-file-upload input {
    display: none;
  }

  /* From Uiverse.io by andrew-demchenk0 */ 
.button {
    margin-top: 10px;
    margin: 3px;
    position: relative;
    width: 98%;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 1px solid #34974d;
    background-color: #3aa856;
  }
  
  .button, .button__icon, .button__text {
    transition: all 0.3s;
  }
  
  .button .button__text {
    transform: translateX(30px);
    color: #fff;
    font-weight: 600;
  }
  
  .button .button__icon {
    position: absolute;
    transform: translateX(300px);
    height: 100%;
    width: 39px;
    background-color: #34974d;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button .svg {
    width: 30px;
    stroke: #fff;
  }
  
  .button:hover {
    background: #34974d;
  }
  
  .button:hover .button__text {
    color: transparent;
  }
  
  .button:hover .button__icon {
    width: 330px;
    transform: translateX(0);
  }
  
  .button:active .button__icon {
    background-color: #2e8644;
  }
  
  .button:active {
    border: 1px solid #2e8644;
  }
  .accont {
    background-color: rgba(255, 255, 255, 0.801);
    backdrop-filter: blur(5px);
    border-right: 2px solid #666;
    position: fixed;
    top: 70px;
    text-align: center;
    width: 300px;
    height: 84.50vh;
    transform: translateX(-310px);
  }
  .accont h1{
    margin-top: 20px;
    border-bottom: 1px solid #666;
    padding: 10px;

  }
  .accont .settingbtn{
    position: relative;
    left: -120px;
    top: -16px;
    color: #000;
    padding: 10px;

  }
  .accont .settingbtn:active, .settingbtn:focus{
    color: #228b22;
  }
  .accont ul {
    background-color: #cacaca;
  }
  .accont .info {
    display: none;
  }
  .accont .userinfo .logbtn{
    padding: 10px 50px;
    color: #000000;
    background-color: transparent;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(5px);
    border: none;
  }
  .accont .userinfo .logbtn:active{
    background-color: #228b22;
  }
  .accont ul li {
    display: table;
  }
  .accont ul li a {
    color: #666;
    text-decoration-line: none;
  }
  .accont ul li .logout{
    color: red;
  }

  section{
    position: fixed;
    top: 100px;
    left: 90vh;

  }
  /* From Uiverse.io by alexruix */ 
.form-box {
  max-width: 300px;
  background: #f1f7fe;
  overflow: hidden;
  border-radius: 16px;
  color: #010101;
}

.form {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 32px 24px 24px;
  gap: 16px;
  text-align: center;
}

/*Form text*/
.title {
  font-weight: bold;
  font-size: 1.6rem;
}

.subtitle {
  font-size: 1rem;
  color: #666;
}

/*Inputs box*/
.form-container {
  overflow: hidden;
  border-radius: 8px;
  background-color: #fff;
  margin: 1rem 0 .5rem;
  width: 100%;
}

.input {
  background: none;
  border: 0;
  outline: 0;
  height: 40px;
  width: 100%;
  border-bottom: 1px solid #eee;
  font-size: .9rem;
  padding: 8px 15px;
}

.form-section {
  padding: 16px;
  font-size: .85rem;
  background-color: #e0ecfb;
  box-shadow: rgb(0 0 0 / 8%) 0 -1px;
}

.form-section a {
  font-weight: bold;
  color: #0066ff;
  transition: color .3s ease;
}

.form-section a:hover {
  color: #005ce6;
  text-decoration: underline;
}

/*Button*/
.form button {
  background-color: #0066ff;
  color: #fff;
  border: 0;
  border-radius: 24px;
  padding: 10px 16px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color .3s ease;
}

.form button:hover {
  background-color: #005ce6;
}

@media (max-width: 650px) {
     header{
      top: 0px;
      margin-top: 0px;
     }
    .searchbar{
        display: none;
    }
    .headcontener ul{
        transform: translateY(-1000px);
        width: 100vh;
        height: 100vh;
        background: rgba(255, 255, 255, 0.801);
        box-shadow: 0 4px 2px rgba(0, 0, 0, 0.8);
        backdrop-filter: blur(5px);
        position: fixed;
        left: 0px;
        top: 70px;
        overflow: hidden;
    }
    .headcontener ul li {
        position: relative;
        display: table;
        margin: 30px;
        text-align: center;
        width: 315px;
        top: 200px;
    }
    .headcontener ul li a{
        padding: 10px 100px;
    }
    .headcontener ul li a:hover{
        box-shadow: none;
    }
    .menubtn{
        display: block;
        position: fixed;
        top: 20px;
        left: 85%;
    }
    .cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
        gap: 20px;
        max-width: 1024px;
        margin: 10px;
      }
    .card{
        width: 85%;
        margin: auto;
    }
    footer{
        position: fixed;
        top: 92vh;
        width: 100%;
        z-index: 500;
        margin: 0;
    }
    footer span{
        display: none;
    }
    footer .navbar a{
        color: #000;
        text-decoration-line: none;
    }
    footer .home{
        position: relative;
        left: -130px;
    }
    footer .plus {
        width: 30px;
        height: 30px;
        background-color: rgb(255, 255, 255);
        padding: 5px 10px;
        border: 1px solid #000;
        border-radius: 50px;
        border-width: 5px;
        font-size: 30px;
        font-weight: 700;
        position: relative;
        left: -10px;
        top: -25px;
    }
    footer .aconnt{
        position: relative;
        left: 100px;
    }
    /* footer icones styles */

    footer .home i{
      font-size: 20px;
      font-weight: 600;
      border: 1px solid #ffffff;
      border-radius: 20px;
      padding: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    }
    footer .aconnt i{
      font-size: 20px;
      font-weight: 600;
      border: 1px solid #ffffff;
      border-radius: 20px;
      padding: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    }
    .addprodect {
      background-color: #fff;
      top: 70px;
      left: 0px;
      width: 100%;
      height: 100%;
      border-radius: 0px;
    }
    .addprodect .titel {
      margin: 20px;
      font-size: 50px;
      font-weight: 800;
    }
    .addprodect .input{
      margin-top: 10px;
      width: 90%;
    }
    .addprodect .custum-file-upload{
      width: 80%;
      margin: 15px ;
      
    }
    .addprodect .button{
      margin-left: 30px;
      width: 85%;
    }
    .form-box {
      position: fixed;
      top: 30%;
      left: 15%;
    }
}